<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center">
        <div class="ml-10 flex items-baseline space-x-4">
          <a [routerLink]="['/register']" [routerLinkActive]="['bg-gray-900']" class=" text-white rounded-md px-3 py-2 text-sm font-medium">Register</a>
          <a [routerLink]="['/users']" [routerLinkActive]="['bg-gray-900']" class="text-gray-300 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Users</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>